<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start" *ngFor="let cat of sample">
        <ion-button [fill]="selectedCat == cat.id ? 'solid' : 'outline'" (click)="selectCat(cat)">{{ cat.name }}</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div *ngFor="let subcat of filterCat(selectedCat).subcategories">
    <ion-item-group>
        <ion-item-divider>
          <ion-label>{{ subcat.name }}</ion-label>
        </ion-item-divider>
        <p style="display: none;">{{ subcat | json }}</p>
    </ion-item-group>
  </div>

  <div id="container">
    <p>{{ sample | json }}</p>
  </div>
</ion-content>
